* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  overflow: hidden;
  background: url(public/images/bg.png) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  gap: 1rem;
}

canvas {
  height: 60vh;
  border: 1px solid whitesmoke;
  border-top: none;
}

#score {
  font-size: 1.2rem;
  color: white;
}
