* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  overflow: hidden;
  background: url(assets/images/bg.png) no-repeat center center fixed;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 1rem;
}

canvas {
  height: 50vh;
  border: 2px solid whitesmoke;
  border-top: none;
  opacity: 0.9;
  border-radius: 4px;
}

#score {
  font-size: 1rem;
  color: white;
}
